*
{
    text-align:center;
}

h1
{
    color:#610808;
    font-family:"Times New Roman", serif;
    font-weight:bold;
    font-size:50px;
}


h2
{
    font-size:35px;
    color:#FFFDAA;
    background-color:#AAACFF;
}

ul
{
    margin-bottom:50px;
    margin-right:30px;
    list-style-type:none;
}
ol, ul, p
{
    font-size:25px;
    font-family:sans-serif;
}
ol
{
    list-style-position:inside;
}
a:link
{
    color:aquamarine;
    text-decoration:none;
}
a:visited
{
    color:rgb(40, 88, 72);
    text-decoration:none;
}
body
{
    background-color:#fffedd;
}
li
{
    margin:20px;
}
img
{
    
    border: 10px dashed rgb(63, 5, 5);
}

