*
{
    text-align:center;
}

.title
{
    color:#610808;
    font-family:"Times New Roman", serif;
    font-weight:bold;
}
.pages
{
    font-size:25px;
    margin-bottom:50px;
    margin-right:30px;
    list-style-type:none;
}
a:link
{
    color:aquamarine;
    text-decoration:none;
}
a:visited
{
    color:rgb(40, 88, 72);
    text-decoration:none;
}

