.title
{
    color:#610808;
    font-family:"Times New Roman", serif;
    text-align:center;
    font-weight:bold;
}
.pages
{
    font-size:25px;
    margin-bottom:50px;
    margin-right:30px;
    text-align:center;
    list-style-type:none;
}
a.link
{
    color:aquamarine;
    text-decoration:none;
}

