.title
{
    font-family:"Times New Roman", serif;
    text-align:center;
    font-weight:bold;
}
.pages
{
    color:#79acfe;
    font-size:25px;
    margin-bottom:50px;
    text-align:center;
    list-style-type:none;
}
